<div class="content">
  <h2>XY Pad</h2>

  <XyPad @padSize={{this.padSize}} @updateCoordinates={{action "adjustSynthParams"}} @activate={{action "play"}} @deactivate={{action "stop"}} />

  <p>Frequency: {{this.frequency}}</p>
  <p>Gain: {{this.gain}}</p>
</div>

<p>Template</p>

<CodeBlock @language="handlebars">
  &#123;{xy-pad
    padSize=padSize
    updateCoordinates="adjustSynthParams"
    activate="play"
    deactivate="stop"
  }}

  &lt;p>Frequency: &#123;{frequency}}&lt;/p>
  &lt;p>Gain: &#123;{gain}}&lt;/p>
</CodeBlock>

<p>Controller</p>

<CodeBlock @language="javascript">
  import Ember from 'ember';
  import { exponentialRatio } from 'ember-audio/utils';

  export default Ember.Controller.extend({
    audio: Ember.inject.service(),
    oscillator: null,
    padSize: 300,
    range: { min: 100, max: 400 },

    initOscillator: Ember.on('init', function() {
      const oscillator = this.get('audio').createOscillator({ type: 'square' });
      this.set('oscillator', oscillator);
    }),

    frequency: Ember.computed('oscillator.frequency', function() {
      const frequency = this.get('oscillator.frequency');

      if (frequency) {
        return frequency.toFixed();
      }
    }),

    gain: Ember.computed('oscillator.gain', function() {
      const gain = this.get('oscillator.gain');

      if (gain) {
        return gain.toFixed(2);
      } else {
        return 0;
      }
    }),

    _getFrequency(x) {
      const range = this.get('range');
      const padSize = this.get('padSize');

      return range.min + (range.max - range.min) * (x / padSize);
    },

    _getGain(y) {
      // Human senses are not linear.
      // http://stackoverflow.com/questions/1165026/what-algorithms-could-i-use-for-audio-volume-level
      return exponentialRatio(y / this.get('padSize'));
    },

    actions: {
      play() {
        this.get('oscillator').play();
      },

      stop() {
        const oscillator = this.get('oscillator');

        if (oscillator.get('isPlaying')) {
          oscillator.stop();
        }
      },

      adjustSynthParams(x, y) {
        const oscillator = this.get('oscillator');
        const frequency = this._getFrequency(x);
        const gain = this._getGain(y);

        oscillator.update('frequency', frequency);
        oscillator.update('gain', gain);
      }
    }
  });
</CodeBlock>

<p>
  <code>xy-pad</code> component template
</p>

<CodeBlock @language="handlebars">
  &lt;canvas
    width=&#123;{padSize}}
    height=&#123;{padSize}}
    style="background-color: black;"

    onmousedown=&#123;{action "activate"}}
    onmousemove=&#123;{action "updateCoordinates"}}
    onmouseleave=&#123;{action "deactivate"}}
    onmouseup=&#123;{action "deactivate"}}

    ontouchstart=&#123;{action "activate"}}
    ontouchmove=&#123;{action "updateCoordinates"}}
    ontouchend=&#123;{action "deactivate"}}
    ontouchcancel=&#123;{action "deactivate"}}
  >&lt;/canvas>
</CodeBlock>

<p>
  <code>xy-pad</code> component javascript
</p>

<CodeBlock @language="javascript">
  // leaving out the code to draw the grid/text
  export default Ember.Component.extend({
    actions: {
      activate(e) {
        e.preventDefault();
        this.send('updateCoordinates', e);
        this.sendAction('activate');
      },

      deactivate(e) {
        this.sendAction('deactivate');
      },

      updateCoordinates(e) {
        e.preventDefault();

        const [ canvas ] = this.element.childNodes;
        const canvasLocation = canvas.getBoundingClientRect();
        const xRelToScreen = e.x || e.touches[0].screenX;
        const yRelToScreen = e.y || e.touches[0].screenY;
        const x = xRelToScreen - canvasLocation.left;

        // 'y' is measured from top, so invert for value from bottom
        const y = this.get('padSize') + (yRelToScreen - canvasLocation.top) * -1;

        this.sendAction('updateCoordinates', x, y);
      }
    }
  });
</CodeBlock>
