<div class="content">
  <h2>Drum Kit</h2>

  {{#if isLoading}}
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  {{else}}
    {{#each beats as |beat|}}
      <div class="beat-pad">
        <span class="text">{{beat.name}}</span>
        <span class="pad" {{action 'playBeat' beat.sound}}></span>
      </div>
    {{/each}}
  {{/if}}
</div>

<div class="content">
  {{#code-block language='handlebars'}}
  \{{#if isLoading}}
    \{{!-- some loading indicator... --}}
  \{{else}}
    \{{#each beats as |beat|}}
      &lt;div class="beat-pad">
        &lt;span class="text">\{{beat.name}}&lt;/span>
        &lt;span class="pad" \{{action 'playBeat' beat.sound}}>&lt;/span>
      &lt;/div>
    \{{/each}}
  \{{/if}}
  {{/code-block}}

  {{#code-block language='javascript'}}
  export default Ember.Whatever.extend({
    audio: Ember.inject.service(),
    beats: Ember.A(),
    isLoading: true,

    loadSound(name) {
      return this.get('audio').load(`${name}.wav`).asSound(name)
        .then((sound) => this.get('beats').pushObject({ name, sound }));
    },

    initBeats: Ember.on('init', function() {
      // kick.wav, snare.wav, and hihat.wav are WAV files in the public folder
      Ember.RSVP.all([
        this.loadSound('kick'),
        this.loadSound('snare'),
        this.loadSound('hihat')
      ])
      .then(() => this.set('isLoading', false));
    }),

    actions: {
      playBeat(beat) {
        beat.play();
      }
    }
  });
  {{/code-block}}
</div>
