<div class="content">
  <h2>Drum Kit</h2>

  {{#if isLoading}}
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  {{else}}
    {{#each drums as |drum|}}
      <div class="beat-pad">
        <span class="text">{{drum.name}}</span>
        <span class="pad" {{action 'playDrum' drum}}></span>
      </div>
    {{/each}}
  {{/if}}
</div>

<div class="content">
  {{#code-block language='handlebars'}}
  \{{#if isLoading}}
    \{{!-- some loading indicator... --}}
  \{{else}}
    \{{#each drums as |drum|}}
      &lt;div class="beat-pad">
        &lt;span class="text">\{{drum.name}}&lt;/span>
        &lt;span class="pad" \{{action 'playDrum' drum}}>&lt;/span>
      &lt;/div>
    \{{/each}}
  \{{/if}}
  {{/code-block}}

  {{#code-block language='javascript'}}
  export default Ember.Whatever.extend({
    audio: Ember.inject.service(),
    drums: Ember.A(),
    isLoading: true,

    loadSound(name) {
      return this.get('audio').load(`/ember-audio/${name}.wav`).asSound(name)
        .then((drum) => this.get('drums').pushObject(drum));
    },

    initBeats: Ember.on('init', function() {
      Ember.RSVP.all([
        this.loadSound('kick'),
        this.loadSound('snare'),
        this.loadSound('hihat')
      ])
      .then(() => this.set('isLoading', false));
    }),

    actions: {
      playDrum(drum) {
        drum.play();
      }
    }
  });
  {{/code-block}}
</div>
