<div class="content">
  <h2>MP3 Player Example</h2>

  <div class="track-list well clearfix">
    <div class="col-sm-3">
      <table class="table table-bordered">
        {{#each tracks as |track|}}
          <tbody>
            <tr {{action 'selectTrack' track}} class="{{if (eq track selectedTrack) 'info'}} item">
              <td>{{undasherize track.name}}</td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    </div>

    <div class="description col-sm-9">
      {{#if selectedTrack}}
        <p>{{{selectedTrack.description}}}</p>
      {{else}}
        <p>Select a Track...</p>
      {{/if}}
    </div>
  </div>

  {{#if selectedTrack}}
    <div class="audioplayer">
      <div class="play-pause {{if isPlaying 'playing'}}" {{action (if isPlaying 'pause' 'play')}}><a></a></div>
      <div class="time current">{{position.string}}</div>

      <div class="bar" onclick={{action 'seek'}}>
        <div style="width: 100%;"></div>
        <div class="played" style={{percentPlayed}}></div>
      </div>

      <div class="time duration">{{duration.string}}</div>

      <div class="volume" onclick={{action 'changeVolume'}}>
        <div class="button"><a></a></div>

        <div class="adjust">
          <div>
            <div style={{percentGain}}></div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
