<div class="content">
  <h2>MP3 Player Example</h2>

  <div class="track-list well clearfix">
    <div class="col-sm-3">
      <table class="table table-bordered">
        <tbody>
          {{#each tracks as |track|}}
            <tr role="button" class="{{if (eq track selectedTrack) 'info'}} item" {{action 'selectTrack' track}}>
              <td>{{undasherize track.name}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="description col-sm-9">
      {{#if selectedTrack}}
        <p>{{selectedTrack.description}}</p>
      {{else}}
        <p>Select a Track...</p>
      {{/if}}
    </div>
  </div>

  {{mp3-player track=selectedTrack.trackInstance loading=trackIsLoading}}
</div>

<div class="content">
  <p class="note">
    Note: Purely aesthetic stuff has been removed. See repo for full code.
  </p>

  <h4>Template</h4>

  {{#code-block language='handlebars'}}
  &lt;div class="track-list">
    &lt;div class="select">
      &lt;table>
        \{{#each tracks as |track|}}
          &lt;tbody>
            &lt;tr \{{action 'selectTrack' track}}>
              &lt;td>\{{track.name}}&lt;/td>
            &lt;/tr>
          &lt;/tbody>
        \{{/each}}
      &lt;/table>
    &lt;/div>

    &lt;div class="description">
      \{{#if selectedTrack}}
        &lt;p>\{{{selectedTrack.description}}}&lt;/p>
      \{{else}}
        &lt;p>Select a Track...&lt;/p>
      \{{/if}}
    &lt;/div>
  &lt;/div>

  \{{!-- mp3-player accepts a Track instance, and a loading boolean --}}
  \{{mp3-player track=selectedTrack.trackInstance loading=trackIsLoading}}
  {{/code-block}}
</div>

<div class="content">
  <h4>Controller</h4>

  {{#code-block language='javascript'}}
  audio: Ember.inject.service(),
  trackIsLoading: false,
  selectedTrack: null,

  // "barely-there.mp3" and "do-wah-diddy.mp3" are mp3 files located in this project's public folder
  tracks: [
    {
      name: 'barely-there',
      trackInstance: null, // After it's loaded, we will place the audio data here
      description: `description here...`
    },
    {
      name: 'do-wah-diddy',
      trackInstance: null,
      description: `description here...`
    }
  ],

  actions: {
    selectTrack(track) {
      const audio = this.get('audio');

      this.set('selectedTrack', track);
      this.set('trackIsLoading', true);

      // Pause any playing track so that user can't play multiple tracks at once
      audio.pauseAll();

      // We use ".asTrack('some-name')" to name the sound, and to specify that we want a "Track" instance
      audio.load(`${track.name}.mp3`).asTrack(track.name).then((trackInstance) => {
        this.set('selectedTrack.trackInstance', trackInstance);
        this.set('trackIsLoading', false);
      });
    }
  }
  {{/code-block}}
</div>

<div class="content">
  <h4><code>mp3-player</code> Component Template</h4>

  {{#code-block language='handlebars'}}
  \{{#if loading}}
    \{{!-- some loading display --}}
  \{{else if track}}
    &lt;div class="audioplayer">
      &lt;div class="play-pause \{{if track.isPlaying 'playing'}}" \{{action 'togglePlay'}}>&lt;a>&lt;/a>&lt;/div>

      \{{!-- track.position and track.duration output a few different formats
        as a POJO. We are interested in the "string" variant --}}
      &lt;div class="time current">\{{track.position.string}}&lt;/div>

      \{{!-- An action bound to "onclick" is passed a javascript native "MouseEvent" object --}}
      &lt;div class="bar" onclick=\{{action 'seek'}}>
        &lt;div style="width: 100%;">&lt;/div>
        &lt;div class="played" style=\{{percentPlayed}}>&lt;/div>
      &lt;/div>

      &lt;div class="time duration">\{{track.duration.string}}&lt;/div>

      &lt;div class="volume" onclick=\{{action 'changeVolume'}}>
        &lt;div class="button">&lt;a>&lt;/a>&lt;/div>

        &lt;div class="adjust">
          &lt;div>
            &lt;div style=\{{percentGain}}>&lt;/div>
          &lt;/div>
        &lt;/div>
      &lt;/div>
    &lt;/div>
  \{{/if}}
  {{/code-block}}
</div>

<div class="content">
  <h4><code>mp3-player</code> Component Javascript</h4>

  <p class="note">
    Note that the exact measurements below will not apply to you unless your
    markup is identical; however, the concepts are universal.
    <code>newPosition</code> and <code>newGain</code> could be calculated much
    more easily using <code>range</code> inputs.
  </p>

  {{#code-block language='javascript'}}
  percentPlayed: Ember.computed('track.percentPlayed', function() {
    const percentPlayed = this.get('track.percentPlayed');
    return Ember.String.htmlSafe(`width: ${percentPlayed}%;`);
  }),

  percentGain: Ember.computed('track.percentGain', function() {
    const percentGain = this.get('track.percentGain');
    return Ember.String.htmlSafe(`height: ${percentGain}%;`);
  }),

  actions: {
    togglePlay() {
      const track = this.get('track');

      if (track.get('isPlaying')) {
        track.pause();
      } else {
        track.play()
      }
    },

    // "e" is a javascript native "MouseEvent" object
    seek(e) {
      // Get width of clicked element's parent
      const width = e.target.offsetParent.offsetWidth;

      // Divide click position by parent width
      const newPosition = e.offsetX / width;

      // Set new position based on ratio
      this.get('track').seek(newPosition).from('ratio');
    },

    changeVolume(e) {
      // Get height of clicked element's parent
      const height = e.target.offsetParent.offsetHeight;

      // Get click position
      const offset = e.pageY - Ember.$(e.target).parent().offset().top;

      // Adjust height because height of element is 80% of parent's
      const adjustedHeight = height * 0.8;

      // Adjust click position because height of element is 80% of parent's,
      // and element is centered vertically
      const adjustedOffset = offset - ((height - adjustedHeight) / 2);
      const newGain = adjustedOffset / adjustedHeight;

      // Set new gain based on inverse ratio because Y coordinate is measured
      // from the top, but we want gain to be measured from the bottom
      this.get('track').changeGainTo(newGain).from('inverseRatio');
    }
  }
  {{/code-block}}
</div>
