<div class="content">
  <h2>MP3 Player Example</h2>

  <div class="track-list well clearfix">
    <div class="col-sm-3">
      <table class="table table-bordered">
        {{#each tracks as |track|}}
          <tbody>
            <tr {{action 'selectTrack' track}} class="{{if (eq track selectedTrack) 'info'}} item">
              <td>{{undasherize track.name}}</td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    </div>

    <div class="description col-sm-9">
      {{#if selectedTrack}}
        <p>{{{selectedTrack.description}}}</p>
      {{else}}
        <p>Select a Track...</p>
      {{/if}}
    </div>
  </div>

  {{mp3-player track=selectedTrackAudio isPlaying=isPlaying loading=trackLoading}}
</div>
