{{! template-lint-disable no-inline-styles }}
{{#if this.loading}}
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
{{else if this.track}}
  <div class="audioplayer">
    <div role="button" class="play-pause {{if this.track.isPlaying "playing"}}" {{action "togglePlay"}}><a></a></div>
    <div class="time current">{{this.track.position.string}}</div>

    <div role="button" class="bar" onclick={{action "seek"}}>
      <div style="width: 100%;"></div>
      <div class="played" style={{this.percentPlayed}}></div>
    </div>

    <div class="time duration">{{this.track.duration.string}}</div>

    <div role="button" class="volume" onclick={{action "changeVolume"}}>
      <div class="button"><a></a></div>

      <div class="adjust">
        <div>
          <div style={{this.percentGain}}></div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
