{{! template-lint-disable no-inline-styles }}
{{#if @loading}}
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
{{else if @track}}
  <div class="audioplayer">
    <div role="button" class="play-pause {{if @track.isPlaying "playing"}}" {{on "click" this.togglePlay}}><a></a></div>
    <div class="time current">{{@track.position.string}}</div>

    <div role="button" class="bar" {{on "click" this.seek}}>
      <div style="width: 100%;"></div>
      <div class="played" style={{this.percentPlayed}}></div>
    </div>

    <div class="time duration">{{@track.duration.string}}</div>

    <div role="button" class="volume" {{on "click" this.changeVolume}}>
      <div class="button"><a></a></div>

      <div class="adjust">
        <div>
          <div style={{this.percentGain}}></div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
