<div class="content">
  <h2>Play a Soundfont</h2>
  {{#if isLoading}}
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  {{else}}
    <div id="piano">
      <ol>
        {{#each notes as |note|}}
          <li role="button" class={{if note.accidental 'black'}}
            {{action 'playPianoNote' note on='touchStart'}}
            {{action 'playPianoNote' note on='mouseDown'}}
          >
            {{note.name}}
          </li>
        {{/each}}
      </ol>
    </div>
  {{/if}}
</div>

<div class="content">
  <p>
    <strong>Important Note</strong>: Soundfonts are javascript files, so if you
    keep your soundfonts inside your project, ember-cli is going to minify them.
  </p>
  <p>
    This is not ok.
    <a href="http://ember-cli.com/user-guide/#minifying">
      Exclude your soundfonts from minification.
    </a>
  </p>
</div>

<div class="content">
  {{#code-block language='handlebars'}}
  \{{#if isLoading}}
    \{{!-- Some loading indicator... --}}
  \{{else}}
    &lt;div id="piano">
      &lt;ol>
        \{{#each notes as |note|}}
          &lt;li class=\{{if note.accidental 'black'}}
            \{{!-- Specify both action types so multitouch works on touch devices --}}
            \{{action 'playPianoNote' note on='touchStart'}}
            \{{action 'playPianoNote' note on='mouseDown'}}
          >
            \{{note.name}}
          &lt;/li>
        \{{/each}}
      &lt;/ol>
    &lt;/div>
  \{{/if}}
  {{/code-block}}

  {{#code-block language='javascript'}}
  export default Ember.Whatever.extend({
    audio: Ember.inject.service(),
    isLoading: false,
    notes: null,

    initSoundFont: on('init', function() {
      // piano.js is a soundfont created with MIDI.js' Ruby-based soundfont converter
      this.get('audio').load('/ember-audio/piano.js').asFont('piano')
        .then((font) => {
          // Slicing just so the whole keyboard doesn't show up on the screen
          this.set('notes', font.get('notes').slice(39, 51));
          this.set('isLoading', false);
        });
    }),

    actions: {
      playPianoNote(note) {
        note.play();
      }
    }
  });
  {{/code-block}}
</div>
