<div class="content">
  <h2>Timing</h2>

  {{#if isLoading}}
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  {{else}}
    <div class="controls">
      <button class="btn btn-primary" {{action 'play'}}>PLAY</button>

      <div>
        <label>Tempo {{input value=bpm}}</label>
      </div>
    </div>

    <div class="beat-machine">
      {{#each drums as |drum|}}
        <div class="beat-lane">
          <span class="text">{{drum.name}}</span>

          {{#each drum.beats as |beat|}}
            <div class="beat-pad" {{action 'toggleActive' beat drum}}>
              <span class="pad {{if beat.active 'active'}} {{if beat.isPlaying 'playing'}} {{if beat.currentTimeIsPlaying 'highlighted'}}"></span>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>

  {{/if}}
</div>
